<!DOCTYPE html>
<html>
<head>
  <title>EmployPerf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<% if user_signed_in?%>
<%=link_to "Logout",destroy_user_session_path%>
<%end%>
</body>
</html>
